<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="https://codeforces.com/predownloaded/70/37/703737cf76db63e4b7bbb9fd63a01a3dc446371e.png">
    <title>SmartOnlineJudge</title>
    <script defer="defer" src="https://app2105.acapp.acwing.com.cn/static/oj/js/chunk-vendors.6093a7e2.js"></script>
    <script defer="defer" src="https://app2105.acapp.acwing.com.cn/static/oj/js/app.eb52d44d.js"></script>
    <link href="https://app2105.acapp.acwing.com.cn/static/oj/css/chunk-vendors.6f794449.css" rel="stylesheet">
    <link href="https://app2105.acapp.acwing.com.cn/static/oj/css/app.593345c1.css" rel="stylesheet">
</head>

<body><noscript><strong>We're sorry but online_judge doesn't work properly without JavaScript enabled. Please enable it
            to continue.</strong></noscript>
    <div id="app"></div>
</body>

</html>